body {
  font-family: Helvetica;
}

/* Home */
#home {
  background-color: #f1f3ff;
}

/* Why Us */
@media screen and (max-width: 576px) {
  .why_us {
    text-align: center;
  }
}

/* Testimoni */
@media (max-width: 576px) {
  .container-testimoni {
    margin: 0% !important;
    padding: 0% !important;
  }
  .testimoni {
    flex-direction: column;
    text-align: center;
  }
  .profile {
    margin: 0% !important;
  }
  .review {
    margin: 0% !important;
  }
}

.carousel {
  background: #f3f1ff;
  width: 832px;
  height: 270px;
  margin: auto;
}

.carousel-control-prev-icon {
  background-image: url("./assets/icons/Vector-kiri.svg");
}

.carousel-control-next-icon {
  background-image: url("./assets/icons/Vector-kanan.svg");
}

/* Faq */
@media screen and (max-width: 576px) {
  .faq {
    text-align: center;
  }
}
